{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Website</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/c700fa8235.js"
      crossorigin="anonymous"
    ></script>

      <script src="https://kit.fontawesome.com/c700fa8235.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href='{% static "css/style3.css" %}'>
  </head>

  <body>
    <section class="main transbox" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
       url({% static 'images/main_theme.jpg' %}) no-repeat center/cover;">
      <div class="container">
        <img src="{% static 'images/w2w.png' %}" width="180" height="90"  style="margin-bottom:5px" alt="w2w">
<!--
        <div class="email">
          <i
            class="fas fa-home"
            style="color: white; font-size: 40px; padding: 20px"
            href="/"
          ></i>


          <form method="post" id="register" action="rel">
          {% csrf_token %}
          <input id="searchText" name="cylinderVal" type="text" placeholder="Enter movie or show name..." />
          <button class="btn"  type="submit"><i class="fas fa-search"></i> Search !</button>
          </form> -->
        </div>
      </div>
    </section>

    <section class="products">
      <div class="productsTitle">
        <header class="item1"  style="margin-left: 2%;"><h1 id="searchText">{{val}}</h1></header>
        <header class="item2" style="margin-right: 2%;">Result</header>
      </div>



      <hr />

      <section id='title' class="ans">
        <div>




          {%  if error  %}
          <div id="headline">
            <div class="container">
              <header>
                <h1 style="font-family:'Ubuntu';">Searching for '{{val}}'</h1>
                <!-- <p>{{val}}</p> -->
              </header>
            </div>
          </div>
          <!-- <h1 style="font-family:'Ubuntu';position: static;font-size:40;font-style:bold;">Searching for '{{val}}'</h1> -->


          {% else %}
          <!-- <div id="headline">
            <div class="container">
              <header>
                <h1 style="font-family:'Ubuntu';"></h1>

              </header>
            </div>
          </div> -->

            <div>
            <section id="title">


              <div class="container-fluid">
                <div class="row" >
                  <!-- <div class="col-lg-5 col-md-12"> -->



                  <div class="col-lg-3 col-md-12">

                    <h3 style="margin-bottom:10px;">Watch it on: </h3>
                  </div>
                  <div class="display:flex">
                  {%  if netflix  %}
                  {% if Type %}
                  <div id="movies">


                   <h3><b>Netflix</b></h3>
                  </div>
                    {%else%}

                    <a href="https://www.netflix.com/in/{{link}}">
                      <img class="row__poster" src='{% static "images/netflix.png" %}' width="50" height="60" alt="netflix"></a>
                  {%endif%}
                  {%endif%}
                  {%  if prime_video  %}
                  <div class="col-lg-3 col-md-12">


                    <a href="{{link}}">
                      <img class="row__poster" src='{% static "images/prime.jpg" %}' width="70" height="60" alt="prime"></a>
                    <h3><b>Prime Video</b></h3>

                  </div>
                  {%endif%}
                  {%  if hulu  %}
                  <div class="col-lg-3 col-md-12">


                    <a href="https://www.hulu.com/welcome">
                        <img class="row__poster" src='{% static "images/hulu.jpg" %}' width="110" height="60" alt="hulu"></a>
                        <h3>    <b>Hulu</b></h3>
                  </div>
                  {%endif%}
                  {%  if disney  %}
                  <div class="col-lg-3 col-md-12">


                    <a href="{{link}}">
                      <img class="row__poster" src='{% static "images/hotstar.jpg" %}' width="110" height="80" alt="disney"></a>
                    <!-- <h3><b>Disney+</b></h3> -->

                    <br><br>
                  </div>
                  {%endif%}
                  {%  if zee5  %}
                  <div class="col-lg-3 col-md-12">


                    <a href="{{link}}">
                      <img class="row__poster" src='{% static "images/zee.png" %}' width="110" height="80" alt="disney"></a>
                      <!-- <h3><b>zee5</b></h3> -->

                    <br><br>
                  </div>
                  {%endif%}
                  </div>


                </div>


                <div>



                  <br>

                  <h3 style="font-family:'Ubuntu';">
                    <p>Director <i class="fas fa-film"></i> : {{director}}</p>
                  </h3>


                  <h3 style="font-family:'Ubuntu';">
                    <p>IMDb Rating <i class="fab fa-imdb"></i> : {{imdb}}</p>
                  </h3>
                  <h3 style="font-family:'Ubuntu';">
                    <p>Year of Release <i class="fas fa-calendar-day"></i> : {{year}}</p>
                  </h3>
                  <h3 style="font-family:'Ubuntu';">
                    <p>Age Restriction : {{age}}
                  </h3>
                  <h3 style="font-family:'Ubuntu';">
                    <p>Runtime <i class="fas fa-clock"></i> : {{runtime}} </p>
                  </h3>
                  <br>
                  <a href="/" class="btn btn-success" role="button"><i class="fa fa-home"></i> Back to Home Page!</a>
                </div>
              </div>
          </div>
      </section>
    </div>
  </div>


  {% endif %}


  {%  if error  %}
  <br>
  <p style="font-size:1.5rem">{{title}}</p>
  <br><br>
  <a href="/" class="btn btn-success" role="button"><i class="fa fa-home"></i> Back to Home Page!</a>

  {% endif %}

  </section>


  <!-- HOME -->

</section>
<section class="main transbox" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url({% static 'images/main_theme.jpg' %}) no-repeat center/cover;">

<div class="container" >

  <form method="post" id="register" action="rel">
  {% csrf_token %}
    <div class="email">
      <i
        class="fas fa-home"
        style="color: white; font-size: 40px; padding: 20px"
        href="/"
      ></i><h1>|  &nbsp;</h1>

  <input id="searchText" name="cylinderVal" type="text" placeholder="Enter movie or show name..." />
  <button class="btn"  type="submit"><i class="fas fa-search"></i> Search </button>
  </form>
</div>
</div>

</section>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="{% static 'js/main.js' %}"  ></script>
  </body>
</html>
