asgiref==3.2.3
certifi==2020.6.20
chardet==3.0.4
Django==3.0.3
dnspython==1.16.0
gunicorn==20.0.4
idna==2.10
joblib==0.16.0
numpy==1.19.1
pandas==1.1.0
pymango==0.1.1
pymongo==3.11.0
python-dateutil==2.8.1
python2==1.2
pytz==2020.1
requests==2.24.0
scikit-learn==0.20.3
scipy==1.5.2
six==1.15.0
sklearn-pandas==1.8.0
sqlparse==0.3.1
threadpoolctl==2.1.0
urllib3==1.25.10
whitenoise==5.2.0
wincertstore==0.2
