* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
#title{
  color: white;

}

.rel{

  /* text-align: center; */
}
.btn {
  display: inline-block;
  text-decoration: none;
  background: #007bff;
  color: #fff;
  padding: 9px 18px;
  border: #007bff;
  border-radius: 6px;
  -webkit-transition: background 500ms;
  transition: background 500ms;
}

.btn:hover {
  background: #0062cc;
}

nav {
  width: 100%;
  padding: 14px 0;
}

hr {
  width: 100%;
  color: greenyellow;
  margin-top: 5px;
  margin-bottom: 0.56em;
  margin-left: auto;
  margin-right: auto;
  max-width: 98%;
}

nav .container .logo h2 {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 22px;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* min-height: 100vh; */

  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url({% static 'images/main_theme.jpg' %}) no-repeat center/cover; */

  position: relative;
}

.transbox {
  background-color: #ffffff;
  border: 100%;
  opacity: 0.99;
}

.products > div > h1 {
  color: rgb(255, 240, 5);
  text-align: center;
  margin-bottom: 30px;
  margin-top: 5px;
  font-weight: 400;
}

.main .container {
  margin: auto;
  text-align: center;

  position: relative;
}

.main .container h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 300;
}

.main .container h3 {
  color: greenyellow;
  font-size: 20px;
  font-weight: 500;
}

.main .container .email {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main .container .email input {
  padding: 15px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 40%;
}

.main .container .email input::-webkit-input-placeholder {
  color: #6c757d;
  font-weight: 400;
}

.main .container .email input:-ms-input-placeholder {
  color: #6c757d;
  font-weight: 400;
}

.main .container .email input::-ms-input-placeholder {
  color: #6c757d;
  font-weight: 400;
}

.main .container .email input::placeholder {
  color: #6c757d;
  font-weight: 400;
}

.main .container .email .btn {
  padding: 13px 34px;
  margin-left: 16px;
}

.products {
  width: 100%;
  padding: 20px 0;
  background-color: black;
  min-height: 70vh;

}

.productsTitle {
  color: rgb(255, 240, 5);
  /* display: flex; */
  white-space: normal;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  /* justify-content: space-between; */
  /* margin-left: 35px;
  margin-bottom: 5px;


  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px; */
}

.item2 {
  color: lightgray;
}

.ans {
  margin-top: 30px;
  margin-left: 30px;
}

.mov{
text-align: center;
margin-bottom: 30px;
word-spacing: 50px;
}

/* .row__poster{
  word-spacing: 8px;
} */


.row__poster:hover {
  transform: scale(1.08);
}

footer {
  width: 100%;
  padding: 20px 0;
  background-color: greenyellow;
  text-align: center;
}
